<!-- Navbar container -->
<nav class="main-navbar navbar navbar-expand-lg navbar-dark bg-deep-blue sticky-top">
  <div class="container">
    <a class="navbar-brand" href="#">
      <span class="ms-2">Gril Žuti</span>
    </a>
    <ul class="navbar-nav d-none d-lg-flex flex-row me-auto">
      <li *ngFor="let category of categories" class="nav-item me-2 me-xs-0">
        <a class="nav-link" [href]="'#'+category.slug">{{category.name}}</a>
      </li>
    </ul>
    <ul class="navbar-nav d-flex d-lg-none">
      <li class="nav-item">
        <a class="nav-link" href="#cart">
          <i class="fa fa-shopping-cart me-1"></i>
          {{'base.cart' | translate}} {{cartTotal | currency}}
        </a>
      </li>
    </ul>
  </div>
</nav>
<!-- /Navbar container -->
