<!-- Footer container -->
<footer class="container text-center mt-5">
  <hr>
  <div class="row">
    <div class="col-md-3">
      <h5>Browse</h5>
      <ul class="list-unstyled">
        <li><a href="#" class="text-decoration-none text-muted">All products</a></li>
        <li><a href="#" class="text-decoration-none text-muted">About us</a></li>
        <li><a href="#" class="text-decoration-none text-muted">Blog</a></li>
      </ul>
    </div>
    <div class="col-md-3">
      <h5>Help</h5>
      <ul class="list-unstyled">
        <li><a href="#" class="text-decoration-none text-muted">FAQ</a></li>
        <li><a href="#" class="text-decoration-none text-muted">Terms & conditions</a></li>
        <li><a href="#" class="text-decoration-none text-muted">Contact us</a></li>
      </ul>
    </div>
    <div class="col-md-3">
      <h5>About</h5>
      <p class="text-muted">
        Our story began in 2001 in a small studio in the middle of nowhere.
        With only one desk and next to no free time, our brand was born.
        Our passion for unique design and collaboration brought our vision, and products, to life.
      </p>
    </div>
    <div class="col-md-3">
      <h5>Social</h5>
      <span class="btn btn-just-icon btn-outline-secondary me-1">
        <i class="fa fa-facebook-square"></i>
      </span>
      <span class="btn btn-just-icon btn-outline-secondary me-1">
        <i class="fa fa-pinterest"></i>
      </span>
      <span class="btn btn-just-icon btn-outline-secondary me-1">
        <i class="fa fa-instagram"></i>
      </span>
    </div>
  </div>
  <div class="text-center text-lg-end py-3">
    <hr>
    <img src="assets/images/payment-methods/card_stripe.png" alt="Stripe" height="40" class="mx-2"/>
    <img src="assets/images/payment-methods/card_visa.png" alt="Visa" height="40" class="mx-2"/>
    <img src="assets/images/payment-methods/card_master.png" alt="Master Card" height="40" class="mx-2"/>
    <img src="assets/images/payment-methods/card_paypal.png" alt="PayPal" height="40" class="mx-2"/>
  </div>
</footer>
<!-- /Footer container -->
