.category-card {
  scroll-margin-top: 80px;
}

.category-card .card-header {
  background: var(--col-success);
  color: var(--col-white);
  text-align: center;
}

.category-card > .card-body {
  padding: 0;
}
