.category-card {
  border: 1px solid lightgrey;
  border-radius: 5px;
  overflow: hidden;
  max-width: 250px;
  font-size: 14px;
}

.category-card > .category-card-footer {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
