<div class="container py-4 text-center">
  <h4 class="py-3">Explore popular categories</h4>
  <div *ngIf="popularCategories.length < 1" class="d-flex">
    <i class="fa fa-spinner fa-spin fa-2x m-auto"></i>
  </div>
  <div *ngIf="popularCategories.length">
    <owl-carousel-o [options]="getOwlCarouselOptions()">
      <ng-container *ngFor="let category of popularCategories">
        <ng-template carouselSlide>
          <app-category-card [category]="category"></app-category-card>
        </ng-template>
      </ng-container>
    </owl-carousel-o>
  </div>
  <h4 class="mt-4 py-3">Explore popular products</h4>
  <div *ngIf="popularProducts.length < 1" class="d-flex">
    <i class="fa fa-spinner fa-spin fa-2x m-auto"></i>
  </div>
  <div *ngIf="popularProducts.length">
    <owl-carousel-o [options]="getOwlCarouselOptions()">
      <ng-container *ngFor="let product of popularProducts">
        <ng-template carouselSlide>
          <app-product-card [product]="product"></app-product-card>
        </ng-template>
      </ng-container>
    </owl-carousel-o>
  </div>
</div>
