:root {
    --col-primary: #2a3f54;
    --col-secondary: #ededed;
    --col-secondary-dimmed: #e5e5e5;
    --col-success: #26b99a;
    --col-success-dimmed: #1a8c75;
    --col-danger: #ff2851;
    --col-danger-dimmed: #be1f3d;
    --col-white: #fff;
    --col-picton-blue: #4b8fc9;
    --col-light-blue: #eff0f1;
    --col-gray-neutral: #f7f7f7;
    --col-light-slate-gray: #73879c;
    --col-violet: #9884fc;
    --col-violet-dimmed: #6554b9;

    --font-sm: 10px;
    --font-md: 12px;
    --font-lg: 14px;
    --font-xl: 16px;
}

html, body {
    height: 100%;
    min-height: 100%;
    padding: 0 !important;
}

footer {
    padding: 13px 20px !important;
}

.modal-dialog {
    margin-left: auto !important;
    margin-right: auto;
!important;
    padding: 0 10px;
}

.swal2-popup {
    font-size: 1.5rem !important;
}

.swal2-container.flash-message {
    padding: .65em;
    background: unset !important;
    width: auto;
    height: auto;
    position: fixed;
    top: unset;
    left: unset;
    right: 0;
    bottom: 0 !important;
}

@media (min-width: 991px) {
    .swal2-container.flash-message {
        right: 10px;
    }
}

.swal2-container.flash-message .swal2-popup {
    padding: 0;
    background: var(--col-secondary);
}

.swal2-container.flash-message.flash-success .swal2-popup {
    background: var(--col-success);
}

.swal2-container.flash-message.flash-danger .swal2-popup,
.swal2-container.flash-message.flash-error .swal2-popup {
    background: var(--col-danger);
}

.swal2-container.flash-message .swal2-html-container {
    display: block;
    padding: .65em 1.35em;
    text-align: left;
    color: var(--col-white);
    margin: 0;
}

[data-pjax-container] {
    position: relative;
}

.pjax-loader-container {
    position: absolute;
    top: 0;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    background: var(--col-secondary);
    display: flex;
}

.pjax-loader-container > i {
    margin: auto;
}

.left_col .profile {
    min-height: 80px;
}

/* TABLES - START */

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
    vertical-align: middle;
}

table.table {
    color: var(--col-light-slate-gray);
}

table.table-primary {
    border: 1px solid var(--col-secondary);
}

table.table-primary > thead {
    border: 1px solid var(--col-primary);
    background: var(--col-primary);
}

table.table-primary > thead > tr > th,
table.table-primary > thead > tr > th a,
table.table-primary > thead > tr > th a:focus {
    color: var(--col-white);
}

table.table-primary > thead > tr > th a:hover {
    color: var(--col-secondary);
}

table.table-primary td a {
    color: var(--col-picton-blue);
    font-weight: 600;
    text-decoration: none;
}

.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: var(--col-light-blue);
}

.table-striped > tbody > tr:nth-of-type(even) {
    background-color: var(--col-gray-neutral);
}

table .avatar-wrapper {
    display: flex;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

th > a[data-sort] {
    display: flex;
}

th > a[data-sort]:not(.asc):not(.desc):after,
th > a[data-sort].asc:after,
th a[data-sort].desc:after {
    font-family: "FontAwesome", serif;
    font-weight: normal;
    margin-left: 16px;
}


th > a[data-sort]:not(.asc):not(.desc):after {
    content: '\f0dc';
}

th > a[data-sort].asc:after {
    content: '\f160';
}

th a[data-sort].desc:after {
    content: '\f161';
}

/* TABLES - END*/

/* TABLE SEARCH - START */

.top_search {
    flex-grow: 0;
    transition: 0.5s flex-grow;
}

.top_search:focus-within {
    flex-grow: 1;
}

/* TABLE SEARCH - END */

/*  TOGGLE SWITCH START */

.toggle-switch-wrap {
    display: inline-block;
    position: relative;
    white-space: nowrap;
}

.toggle-switch {
    position: relative;
    display: inline-block;
    width: 2.975em;
    height: 1.75em;
    border-radius: 1.75em;
    background: var(--col-success);
    vertical-align: middle;
    margin: 0 .5rem;
}

.toggle-switch > input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    opacity: 0;
    width: 100% !important;
    height: 100%;
    position: absolute !important;
    cursor: pointer;
}

.toggle-switch.toggle-switch-reverse > input:checked + label {
    background: var(--col-success);
}

.toggle-switch > input:checked + label {
    background: var(--col-white);
}

.toggle-switch > label {
    display: block !important;
    width: 100% !important;
    height: 100%;
    border-radius: 1.75em;
    -webkit-transition: background .125s;
    transition: background .125s;
}

.toggle-switch > input:checked + label::after {
    right: 0;
    left: 1.275em;
    transform: scale(1);
}

.toggle-switch > label::before,
.toggle-switch > label::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 1.75em;
    border-radius: inherit;
    -webkit-transition: all .4s;
    transition: all .4s;
    border: 1px solid #d5d5d5;
    cursor: pointer;
}

.toggle-switch > input:active + label::before,
.toggle-switch > input:checked + label::before {
    width: 60%;
    left: 20%;
    top: 30%;
    height: 40%;
    opacity: 0;
}

.toggle-switch-reverse > label::before {
    background: var(--col-success);
}

.toggle-switch > label::before {
    background: var(--col-secondary);
    width: 100%;
    height: 1.75em;
    top: 0;
    left: 0;
}

.toggle-switch > label::before,
.toggle-switch > label::after {
    position: absolute;
    border-radius: inherit;
    transition: all .4s;
}

.toggle-switch > label::after {
    background: var(--col-white);
    height: 1.6em;
    width: 1.6em;
    top: 0.1rem;
    transform: scale(1.1);
}

/*  TOGGLE SWITCH END */


/* SET DEFAULT COLOR SCHEME - START */

.btn-white,
.btn-white.btn:hover,
.btn-white.btn:focus {
    color: var(--col-picton-blue);
}

.btn-success {
    background: var(--col-success);
    border: unset !important;
}

.btn-success:active,
.btn-success:hover,
.btn-success:focus,
.btn-success:focus-within,
.btn-success[disabled] {
    background: var(--col-success-dimmed) !important;
}

.btn-secondary {
    background: var(--col-secondary);
    border: 1px solid var(--col-secondary);
    color: var(--col-primary) !important;
}

.btn-secondary:active,
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:focus-within {
    background: var(--col-secondary-dimmed) !important;
    border: 1px solid var(--col-secondary-dimmed) !important;
}

.swal2-cancel:active,
.swal2-cancel:hover,
.swal2-cancel:focus,
.swal2-cancel:focus-within {
    background: var(--col-secondary-dimmed) !important;
}

.tox-tinymce,
.form-control {
    border-radius: 4px;
}

.has-success .control-label,
.has-success .radio,
.has-success .checkbox,
.has-success .radio-inline,
.has-success .checkbox-inline,
.has-success.radio label,
.has-success.checkbox label,
.has-success.radio-inline label,
.has-success.checkbox-inline label {
    color: inherit;
}

.has-success .help-block {
    color: var(--col-picton-blue);
}

.has-success .form-control,
.login_content form input[type="text"]:focus,
.login_content form input[type="email"]:focus,
.login_content form input[type="password"]:focus {
    border-color: var(--col-picton-blue);
}

.has-success .form-control:focus {
    border-color: var(--col-picton-blue);
    box-shadow: inset 0 1px 1px var(--col-gray-neutral), 0 0 3px var(--col-picton-blue) !important;
}

.has-success.select2-container--krajee .select2-dropdown,
.has-success .select2-container--krajee .select2-selection {
    border-color: var(--col-picton-blue) !important;
}

.has-success .select2-container--open .select2-selection,
.has-success .select2-container--krajee.select2-container--focus .select2-selection {
    border-color: var(--col-picton-blue) !important;
}

.select2-results__options li,
.select2-results__options li:before,
.select2-results__options li:after {
    background-color: #fff !important;
    color: var(--col-primary) !important;
}

.has-error .help-block,
.has-error .control-label,
.has-error .radio,
.has-error .checkbox,
.has-error .radio-inline,
.has-error .checkbox-inline,
.has-error.radio label,
.has-error.checkbox label,
.has-error.radio-inline label,
.has-error.checkbox-inline label {
    color: var(--col-danger-dimmed);
}

.has-error .form-control,
.login_content form .has-error input[type="text"]:focus,
.login_content form .has-error input[type="email"]:focus,
.login_content form .has-error input[type="password"]:focus {
    border-color: var(--col-danger-dimmed);
}

.has-error .form-control:focus {
    border-color: var(--col-danger-dimmed);
    box-shadow: inset 0 1px 1px var(--col-gray-neutral), 0 0 3px var(--col-danger-dimmed) !important;
}

.has-error.select2-container--krajee .select2-dropdown,
.has-error .select2-container--krajee .select2-selection {
    border-color: var(--col-danger-dimmed) !important;
}

.has-error .select2-container--open .select2-selection,
.has-error .select2-container--krajee.select2-container--focus .select2-selection {
    border-color: var(--col-danger-dimmed) !important;
}

.text-light {
    color: var(--col-white) !important;
}

/* SET DEFAULT COLOR SCHEME - END */

table.table-body-relative tbody {
    position: relative;
}

.treegrid-expander {
    background-image: none !important;
    font-family: "FontAwesome", serif;
    height: fit-content;
    margin-right: 0.5rem;
    font-size: var(--font-md);
}

.treegrid-expander-expanded:after {
    content: '\f078';
}

.treegrid-expander-collapsed:after {
    content: '\f054';
}

.treegrid-collapse-toggle {
    font-size: var(--font-lg);
    cursor: pointer;
}

.expand-all:not(.active),
.collapse-all:not(.active) {
    color: var(--col-violet);
    font-weight: 600;
}

.expand-all:not(.active):hover, .expand-all:not(.active):active,
.collapse-all:not(.active):hover, .collapse-all:not(.active):active {
    color: var(--col-violet-dimmed);
}

.tox-tinymce {
    min-height: 120px;
}

.thumb {
    box-shadow: 0 2px 4px var(--col-light-slate-gray);
    border-radius: 6px;
}

.thumb-xs {
    width: 35px;
    height: 35px;
}

