<div class="product-card card">
  <div class="card-body py-2">
    <div class="d-flex align-items-center flex-wrap">
      <div>
        <h5 class="m-0">{{product.name}}</h5>
        <small><strong>{{product.short_description}}</strong></small>
      </div>
      <div class="m-auto me-1 mt-2 mt-lg-auto d-flex flex-nowrap align-items-center">
        <h6 *ngIf="product.variants.length < 1" class="my-auto">
          {{product.price | currency }}
        </h6>
        <select #productVariantSelect
                *ngIf="product.variants.length"
                (change)='selectVariant(productVariantSelect.value)'
                class="form-select pv-dropdown"
        >
          <option *ngFor="let productVariant of product.variants" value="{{productVariant.id}}">
            {{productVariant.name}}
            {{productVariant.price | currency}}
          </option>
        </select>
        <button class="btn btn-sm btn-success text-uppercase ms-2"
                (click)="addToCart()"
        >
          Dodaj
        </button>
      </div>
    </div>
  </div>
</div>

