.product-card {
  border: 1px solid lightgrey;
  border-radius: unset;
  overflow: hidden;
  max-width: 250px;
  font-size: 14px;
}

.description {
  font-weight: 400;
  color: #585858;
}

.product-card > .product-card-footer {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.pv-dropdown {
  font-weight: 500;
  padding: 2px 36px 3px 12px;
}

.cover-image {
  width: 85px;
  height: 85px;
  border-radius: 5px;
  overflow: hidden;
  border: 2px solid transparent;
  cursor: pointer;
}

.cover-image:hover, .cover-image:focus {
  border-color: var(--col-primary);
}
