<div class="product-card card">
  <div class="card-body py-2">
    <div class="d-flex flex-wrap">
      <div *ngIf="product.cover_image_id" class="cover-image me-3" (click)="onProductThumbClick()">
        <img src="{{getImageUrl(product.cover_image_id)}}" alt="Cover Image">
      </div>
      <div class="d-flex flex-column">
        <h5 class="m-0">{{product.name}}</h5>
        <span class="description">{{product.short_description}}</span>
        <select #productVariantSelect
                *ngIf="product.variants.length"
                (change)='selectVariant(productVariantSelect.value)'
                class="form-select pv-dropdown mt-auto"
        >
          <option *ngFor="let productVariant of product.variants" value="{{productVariant.id}}">
            {{productVariant.name}}
            {{productVariant.price | currency}}
          </option>
        </select>
        <h6 *ngIf="product.variants.length < 1" class="mt-auto">
          {{product.price | currency}}
        </h6>
      </div>
      <div class="m-auto me-1">
        <button class="btn btn-sm btn-success text-uppercase ms-2 d-none d-md-block"
                (click)="addToCart()"
        >
          {{'base.add' | translate}}
        </button>
        <button class="btn btn-success btn-just-icon d-block d-md-none"
                (click)="addToCart()"
        >
          <i class="fa fa-plus"></i>
        </button>
      </div>
    </div>
  </div>
</div>

