.product-card {
  border: 1px solid lightgrey;
  border-radius: unset;
  overflow: hidden;
  max-width: 250px;
  font-size: 14px;
}

.product-card > .product-card-footer {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}


.pv-dropdown {
  font-weight: 500;
  padding: 2px 36px 3px 12px;
}
